@{
    ViewData["Title"] = "Home Page";
}
<style>
    ul {
        list-style-type: none;
    }
</style>

<div class="text-center">
    <h1 class="display-4">Welcome!</h1>
    <h2>K8s Training Homework: Zhi-Wei.</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>